.Title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: white;
  line-height: 1.4em;
}

.Title h1 {
  font-size: 3.5em;
}

.Title span {
  color: #ff5d42;
}

.Title h2 {
  font-size: 1.2em;
}