.Title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: white;
  line-height: 1.4em;
}

.Title h1 {
  font-size: 3.5em;
}

.Title span {
  color: #ff5d42;
}

.Title h2 {
  font-size: 1.2em;
}

/* .Title-start-btn {
  padding: 0.5rem 2.5rem;
  margin: 150px 0;
  border-radius: 15px;
  font-size: 1.2em;
  border: 4px double #ff5d42;
  background: none;
  color: white;
  transition: background 500ms;
}

.Title-start-btn:hover {
  background: #ff5d42;
} */