.Game {
  display: flex;
  flex-direction: column;
}

#Game-instructions-btn {
  z-index: 2;
  margin: 20px 20px 60px;
  justify-self: flex-end;
  align-self: flex-end;
  max-width: 250px;
  background: black;
}