.Info {
  text-align: center;
  line-height: 1.6em;
  font-size: 0.9em;
  animation: fadein 13s;
  margin-top: 40px;
  border-top: 1px solid #222;
}

.Info a {
  color: #ff5d42;
  font-weight: bold;
  font-size: 1em;
}

.Info span a {
  color: white;
  transition: all 500ms;
}

.Info span a:hover {
  color: #ff5d42;
}