#ProgressBar {
  margin-top: 40px;
}

#ProgressBar-bar {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: 900px;
  align-items: flex-end;
}

#ProgressBar img {
  display: block;
}

.tick-pirate {
  margin: 0 5px;
}

.tick {
  height: 10px;
  width: 1px;
  background-color: white;
  margin: 0 15px;
}

.passed {
  background: yellow;
/*   height: 18px; */
}