.Instructions {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: none;
}

.Instructions-content {
  position: absolute;
  min-height: auto;
  padding: 20px;
  background: #FF7A64;
  border-radius: 15px;
  height: auto;
  top: 80px;
  animation: dropdown 400ms;
  animation-timing-function: ease;
  line-height: 1.6em;
}

@keyframes dropdown {
  from { top: -1000px; }
  to { top: 60px; }
}

@keyframes pullup {
  from { top: 60px; }
  to { top: -1000px; }
}

.Instructions h2 {
  text-align: center;
}