#player-choices {
  display: flex;
  flex-direction: column;
}

.Choices {
  overflow-y: scroll;
  max-height: 500px;
}

.Choices::-webkit-scrollbar-thumb {
  background-color: #2c2c2c;
  outline: 1px solid slategrey;
}